<H1>COMP216 Lab exercise 1</h1>

<h5> Please insert your name, student number, course and date </h5>


#Name: Jack

#Student number:

#Course:

#Date:



<h3>Instructions</h3>

1. Complete the exercises as far as you possibly can 

2. Rename the workbook to your first name  

3. Make sure that the notebook is shareable

4. Upload a link to the Assessment folder in brightspace  

5. You code must work even if the original variable changes

In [55]:
#imports and variables
from random import randint

pm = 'justin pierre james trudeau'
instructor = 'John Doe'
harry = "You've gotta ask yourself a question: how are you today?"
numbers = [randint(5, 10) for _ in range(20)]

hello

<h3> Working with sets </h3>

In [38]:
# - 2 mark
# create a set from the variable 'instructor' and print it

In [39]:
# - 2 mark
# use the add() method to add 'z' to the set and print it

In [40]:
# - 2 mark
#use the remove() method to take ' ' from the set and print it

In [41]:
# - 2 mark
#use the update() function to add 'x', 'y' and 'z' to the set  and print the result

In [42]:
# - 2 mark
#use the len() function to get the number of elements in the set and print the result

<h3> Working with tuples </h3>

In [43]:
# - 2 mark
#create a tuple from the variable pm and print it

In [44]:
# - 6 marks
# write the statement to produced the following lines of output

## There are 4 e's in the tuple                   #use the count() method
## You can find a at index 15 of the tuple        #use the index() method
## There are 27 elements in the tuple             #use the len() function

In [45]:
# - 2 mark
# use array-like indexing to print the third and fifth element of your tuple

<h3> Working with list </h3>

In [46]:
# - 2 mark
# create a list from the variable 'harry' using the split() method 
# of the string class and print it

In [47]:
# - 4 marks
# use the append() method once to add 'Eastwood' to the end of the  list
# use the insert() method to add 'Clint' at the start of the  list
# use the remove() method to remove 'question' from the list
# print the final list

In [48]:
# - 4 marks
# use the sort() method to order the  list
# print the list
# use the reverse() method to reverse the list
# print the final list

<h3> Working with dictionary </h3>

In [49]:
#use the following dictionary for your exercises
d = { 
    3462: 'Artificial Intelligence', 
    3468: 'Software Engineering Technician', 
    3469: 'Software Engineering Technology', 
    3472: 'Artificial Intelligence (FT)', 
    3478: 'Software Engineering Technician (FT)', 
    3528: 'Health Informatics Technology (FT)', 
    3609: 'Game - Programming', 
    3668: 'Health Informatics Technology', 
    3679: 'Game - Programming (FT)'}

In [50]:
# - 2 mark
# display the dictionary

In [51]:
# - 4 mark
# use the keys() and values() method to display the keys and values

In [52]:
# - 4 mark
# Use the key-index technique to retrieve the name of program 3462
# Use the get() method to retrieve the name of program 3462
# It there a difference?

<h3> Using the enumerate function </h3>

This function can enumerate both sequences like sets, tuples, strings and lists as well as mappings like dictionaries  
The enumerate function returns a collection of tuples.  
Each tuples is a pair comprising of the index and the value.

In [53]:
# - 5 mark
# use the enumerate function to print each collection: set, tuple, list and dict
# You must print both the position and the item in the collection

In [54]:
# - 5 mark
# Use the items() method of the dict class to enumerate a dictionary
# You must print the position, the key and the value